.App {
  margin-top: 15px;
}

.navbar-brand {
  height: auto;
  color: #f69827 !important;
}

.product{
  height: 350px;
  max-height: 350px !important;
  margin-bottom: 10px;
}

.imgbox{
  height: 350px;
  line-height: 350px;
}

.App .white {
  color: #fff;
}

.shopping-icon-container {
  background-color: #f69827;
  padding: 2px 12px 0 12px;
  border-radius: 14px;
  margin-right: -24px;
}

.shopping-icon-container .count {
  margin: 0 0 0 4px;
}

.line-height-24 {
  line-height: 24px;
}