.App {
  margin-top: 15px;
}

.navbar-brand {
  height: auto;
  color: #f69827 !important;
}

.product{
  height: 350px;
  max-height: 350px !important;
  margin-bottom: 10px;
}

/* .loginAs{
  background: none !important;
} */

.itemsForUser div,.similar div {
  padding: 0 0 0 0;
}

.userstate{
  padding: 15px;
  margin-right: 20px;
}

.imgbox{
  height: 350px;
  line-height: 350px;
}

.App .white {
  color: #fff;
}

.navbar-toggle{
  margin-top: 20px;
}
.shopping-icon-container {
  background-color: #f69827;
  padding: 2px 12px 0 12px;
  border-radius: 14px;
  margin-right: -24px;
}

.shopping-icon-container .count {
  margin: 0 0 0 4px;
}


.testimonial-group > .row {
  overflow-x: auto;
  white-space: nowrap;
}
.testimonial-group > .row > .col-xs-6 {
  display: inline-block;
  float: none;
}

.itemTitle{
  white-space: initial;
  width: 290px;
}