.search-padding {
  padding: 0 25px 0 25px;
}

.title-padding {
  padding: 5px 0 5px 0px;
  margin: 0;
  text-align: center;
}

.no-radius {
  border-radius: 0 !important;
}

.no-margin {
  margin: 0 24px 0 0 !important;
}

.mainsearch {
  background-color: #4a4a4a;
  padding: 10px 0 10px 10px;
}

.btn-orange {
  background-color: #f69827;
}

.no-margin-top {
  margin-top: 0px !important;
}

/*test color*/

.orange {
  color: #f69827;
}

.white {
  color: #ffffff;
}

.addon-black {
  color: #ffffff !important;
  background-color: #000 !important;
  border: #000 !important;
  font-weight: 200 !important;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent !important;
}
