.recommend table {
  border: 1px;
  display: block;
}

.recommend tr {
  vertical-align: middle;
}

.recommend td {
  border: 0px;
  width: 33%;
  padding: 10px;
  text-align: center;

  max-height: 250px;
}
.recommend tr {
  vertical-align: middle;
}
.recommend div {
  overflow-x: auto;
  overflow-y: hidden;
  max-height: 300px;

  text-align: center;
  vertical-align: middle;
}

.recommend td img {
  display: inline-block;

  max-width: none;
}

.similar td img {
  max-width: 150px;
}

.similar td {
  max-width: 200px;
  text-align: center;
  vertical-align: center;
}

.similar span {
  vertical-align: top;
}

.similar div {
  padding: 10px;
}

div.similar {
  max-width: 100%;
  padding: 10px;
  overflow-x: scroll;
  overflow: -moz-scrollbars-horizontal;
}

.itemsForUser td img {
  max-width: 150px;
}
.itemsForUser td {
  max-width: 200px;
  text-align: center;
  vertical-align: center;
}

div.itemsForUser {
  max-width: 100%;
  overflow-x: scroll;
  padding-bottom: 20px;

  overflow: -moz-scrollbars-horizontal;
}

.itemsForUser div {
  padding: 10px;
}
